.feature-box {
  text-align: center;
  padding: 2.5rem;
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem 0 rgba($color-black, 0.15);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.03) translateY(-1.5rem);
  }

  &__icon {
    display: inline-block;
    font-size: 6rem;
    margin-bottom: 0.5rem;
    color: transparent;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-grey-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
}
