@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if ($breakpoint >= $big-desktop) {
    @media only screen and (min-width: convert-px-2-em($breakpoint)) {
      @content;
    }
  } @else {
    @media only screen and (max-width: convert-px-2-em($breakpoint)) {
      @content;
    }
  }
}
